<ion-header>
  <ion-toolbar>
    <ion-title class="center-title">Usuarios en el Sistema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row class="header-row">
        <ion-col>Id</ion-col>
        <ion-col>Nombre</ion-col>
        <ion-col>Apellido Paterno</ion-col>
        <ion-col>Apellido Materno</ion-col>
        <ion-col>Correo Electrónico</ion-col>
        <ion-col>Usuario</ion-col>
        <ion-col>Rol</ion-col>
      </ion-row>

      <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
