<ion-header>
  <ion-toolbar>
    <ion-title>Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-section">
    <h2>¡Bienvenido, Sergio!</h2>
    <p>¿Qué haremos hoy..?</p>
  </div>

  <div class="button-container">
    <ion-button>Registrar Usuario</ion-button>
    <ion-button>Usuarios</ion-button>
    <ion-button>Log</ion-button>
    <ion-button>Agregar Bebidas</ion-button>
    <ion-button>Agregar Alimento</ion-button>
    <ion-button>Salir</ion-button>
  </div>

  <div class="profile-icon">
    <ion-icon name="person-circle-outline"></ion-icon>
  </div>
</ion-content>